/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



  .logo {
    /* background-image: url(../images/favicon.ico); */
    background-position: 17px 0;
    background-repeat: no-repeat;
    background-size: 80px 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 16px;

  }
  .login-signup {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  
  .header-signup, .header-login {
    border: 2px solid rgb(235, 103, 103);
    color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
  }
  
  .header-signup:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  
  .header-login:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }

  .trial {
    background-color: rgb(235, 103, 103);
    color: white;
    height: 50px;
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    margin: 25px 25px;
  }

  .trial:hover, #demo:hover{
    background: #635ac7;
  }

  #demo {
    background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
    opacity: 85%;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
  }
  
  .login-form-container {
    width: 80%;
    padding: 5px 10%;
    text-align: center;
  }
  
  .login-form-box {
    padding: 30px 10px;
  }
  
  .close-x{
    position: absolute;
    cursor: pointer;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .login-input {
    height: 46px;
    border: 1px solid #e0e6e8;
    border-radius: 3px;
    padding-left: 16px;
    width: 95%;
    margin-bottom: 30px;
    color: #646F7A;
    font-size: 16px;
  }
  
  .content {
    display: flex;
    justify-content: flex-end;
    padding: 32px 5%;
    width: 100%;
  }
  
  .login-form > label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: #65707B;
    font-weight: normal;
  }
  
  .session-submit {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 16px;
    height: 46px;
  }
  
  .session-submit:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 3px;
    font-weight: 500px;
    font-size: 14px;
    padding: 0 16px;
    height: 46px;
    cursor: pointer;
  }
  
  .login-form-container {
    font-weight: 500;
  }
  
  .login-form-container > h1 {
    font-size: 50px;
    font-weight: normal;
  }
  
  .button {
    margin-bottom: 10px;
  }
  
  .login-form-container > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .root {
    padding: 10px;
  }
  
  *:focus{
    outline:0
  }
  
  footer > button {
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    text-align: center;
    padding-top: 3px;
    color: rgb(235, 103, 103);
    font-weight: 800;
  }
  
  footer > button:hover {
    color: rgb(235, 103, 103);
    text-decoration: underline;
  }
  
  footer > p {
    text-align: center;
    padding-top: 3px;
    margin: 10px;
    color: #65707B;
    font-weight: normal;
  }
  
.splash-main-nav {
    background-color: white;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.splash-logo-link {
    height: 26px;
    margin-left: 18px;
}
.splash-h1{
    color: #151b26;
    font-weight: 400;
    padding-bottom: 32px;
    margin-top: 0;
    font-size: calc(33.75px + 11.25 * ((100vw - 480px) / 800));
    line-height: 1.244;
    width: 90%;
    margin: auto;
}

  
.splash-content{
    /* box-sizing: border-box; */
    max-width: 1920px;
    width: 65%;
    margin: auto;
}
  
.section-splash {
    padding: 96px 0 28px;
    display: block;
    text-align: center;
}
  
.splash-content-text {
    /* text-align: center; */
    margin-bottom: 48px;
    margin-left: -16px;
    margin-right: -16px;
    box-sizing: border-box;
}
  
.further-div {
    padding: 0 16px;
    margin-left: 5%;
    text-align: center;
}
  
.splash-text {
    font-size: 1.375rem;
    line-height: 1.636;
    color: rgb(100, 111, 121);
    width: 90%;
    margin: auto;
}
  
.login-input-splash {
    height: 40px;
    border: 2px solid #E0E6E8;
    border-radius: 3px;
    padding-left: 25px;
    margin-right: 25px;
    width: 40%;
    margin-bottom: 30px;
    font-size: 16px;
    color: #646F7A;
}

.splash-video-banner {
    background-color: #f6f7fa;
    position: relative;
    height: 800px;
    width: 100%;
}

.splash-video-banner > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
  
  ::placeholder {
    color: #B7BFC5;
    letter-spacing: 1px;
  }
  
  .header-new:hover {
    filter: saturate(300%);
  }
  
  .low-left{
    transition: margin-left 300ms ease-out,transform 300ms ease-out;
    font-size: 20px;
  }
  
  .header-link-greeting{
    text-decoration: none;
    color: black;
  }
  
  .header-shadow{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    height: .5px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    transition: opacity 250ms;
    position: fixed;
    z-index: 20;
    top: 70px;
  }
  
  html, body, main {
    height: 100%;
  }
  
  .interactive{
    display: flex;
    justify-content: flex-start;
    font-size: small;
    padding: 9px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #d5dce0;
    box-sizing: border-box;
    font-weight: 400;
  }

  .just-suggest:read-only{
    cursor: not-allowed;
  }

  /* AutoComplete */
  /* Change autocomplete styles in WebKit */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px rgb(245, 240, 240) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

  .auto{
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 191px;
    height: 200px;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    background-color: violet;
    background-image: url(https://hd.unsplash.com/6/blurred_lines.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .auto > *{
    margin-left: 30px;
  }
  
  .auto > input{
    margin: 10px 30px 0 30px;
    border: 1px solid black;
  }
  
  .auto li{
    cursor: pointer;
    list-style-type: square;
  }
  
  .auto-enter {
    opacity: 0.01;
    transform: translateY(500%);
  }
  
  .auto-enter.auto-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms ease-in, transform 700ms ease-in;
  }
  
  .auto-leave {
    opacity: 1;
    transform: translateY(0);
  }
  
  .auto-leave.auto-leave-active {
    opacity: 0.01;
    transform: translateY(500%);
    transition: opacity 700ms ease-in, transform 700ms ease-in;
  }