/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
 
  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 
  .login-input {
    margin-left: 20px;
  }
 
  .login-form-box {
    outline: 1px solid black;
    padding: 20px;
  }


  .session-submit {
    text-transform: capitalize;
  }

  .header-link {
    text-decoration: none;
    color: black;
  } */

  .logo {
      background-image: url(../images/favicon.ico);
      background-position: 17px 0;
      background-repeat: no-repeat;
      background-size: 80px 16px;
      -webkit-box-flex: 1;
      flex-grow: 1;
      height: 16px;
    /* width: 111px;
    height: 22px;
    vertical-align: middle;
    background: none;
    color: rgb(103, 182, 235);
    font-weight: initial; */
  }
  .login-signup {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  
  .header-signup, .header-login {
    border: 2px solid rgb(235, 103, 103);
    color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
  }
  
  .header-signup:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  
  .header-login:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 2px;
    font-weight: 600px;
    font-size: 14px;
    padding: 0 16px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }

  .trial {
    background-color: rgb(235, 103, 103);
    color: white;
    height: 50px;
    transition: background-color, .15s,color .15s ease-in-out; 
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
  }
  
  .login-form-container {
    width: 80%;
    padding: 5px 10%;
    text-align: center;
  }
  
  .login-form-box {
    padding: 30px 10px;
  }
  
  .close-x{
    position: absolute;
    cursor: pointer;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .login-input {
    height: 46px;
    border: 1px solid #e0e6e8;
    border-radius: 3px;
    padding-left: 16px;
    width: 95%;
    margin-bottom: 30px;
    color: #646F7A;
    font-size: 16px;
  }
  
  .content {
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
    padding: 32px 5%;
    width: 100%;
  }
  
  .login-form > label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: #65707B;
    font-weight: normal;
  }
  
  .session-submit {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 16px;
    height: 46px;
  }
  
  .session-submit:hover {
    color: white;
    background-color: rgb(235, 103, 103);
    border-radius: 3px;
    font-weight: 500px;
    font-size: 14px;
    padding: 0 16px;
    height: 46px;
  }
  
  .login-form-container {
    font-weight: 500;
  }
  
  .login-form-container > h1 {
    font-size: 50px;
    font-weight: normal;
  }
  
  .button {
    margin-bottom: 10px;
  }
  
  .login-form-container > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .root {
    padding: 10px;
  }
  
  *:focus{
    outline:0
  }
  
  footer > button {
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    text-align: center;
    padding-top: 3px;
    color: rgb(235, 103, 103);
    font-weight: 800;
  }
  
  footer > button:hover {
    color: rgb(235, 103, 103);
    text-decoration: underline;
  }
  
  footer > p {
    text-align: center;
    padding-top: 3px;
    margin: 10px;
    color: #65707B;
    font-weight: normal;
  }
  
  .splash-h1{
    color: #151b26;
    font-weight: 400;
    padding-bottom: 32px;
    margin-top: 0;
    font-size: calc(33.75px + 11.25 * ((100vw - 480px) / 800));
    line-height: 1.244;
    width: 90%;
    margin: auto;
  }
  
  .splash-content{
    /* box-sizing: border-box; */
    max-width: 1920px;
    width: 65%;
    margin: auto;
  }
  
  .section-splash {
    padding: 96px 0 28px;
    display: block;
    text-align: center;
  }
  
  .splash-content-text {
    /* text-align: center; */
    margin-bottom: 48px;
    margin-left: -16px;
    margin-right: -16px;
    box-sizing: border-box;
  }
  
  .further-div {
    padding: 0 16px;
    margin-left: 5%;
    text-align: center;
  }
  
  .splash-text {
    font-size: 1.375rem;
    line-height: 1.636;
    color: rgb(100, 111, 121);
    width: 90%;
    margin: auto;
  }
  
  .login-input-splash {
    height: 40px;
    border: 2px solid #E0E6E8;
    border-radius: 3px;
    padding-left: 25px;
    margin-right: 25px;
    width: 40%;
    margin-bottom: 30px;
    font-size: 16px;
    color: #646F7A;
  }
  
  ::placeholder {
    color: #B7BFC5;
    letter-spacing: 1px;
  }
  
  .header-new:hover {
    filter: saturate(300%);
  }
  
  .low-left{
    transition: margin-left 300ms ease-out,transform 300ms ease-out;
    font-size: 20px;
  }
  
  .header-link-greeting{
    text-decoration: none;
    color: black;
  }
  
  .header-shadow{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    height: .5px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    transition: opacity 250ms;
    position: fixed;
    z-index: 20;
    top: 70px;
  }
  
  html, body, main {
    height: 100%;
  }
  