
.aside-project-index {
  /* background-color: #151b26; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 60px;
}

/* .aside-projects {
  position: relative;
} */

.aside-projects-list {
  /* color: #d5dce0;
  font-weight: 400; */
  align-items: center;
}

/* .aside-projects{
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 15px;
  color: #d5dce0;
  font-size: 13px;
} */

.aside-project {
  align-items: center;
  display: flex;
  justify-content: right;
  padding: 0 10px 0 10px;
  height: 28px;
}

.main-ui {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.li-square{
  height: 12px;
  margin-right: 10px;
}

.aside-project{
  font-size: 13px;
}

.aside-projects-members{
  border-bottom: 2px solid rgb(235, 103, 103);
  border-top: 2px solid rgb(235, 103, 103);
  padding-bottom: 30px;
  padding-top: 10px;
}

.team-header{
  color: #d5dce0;
  font-weight: 400;
  display: flex;
  height: 28px;
  padding: 0 15px 0 15px;
}

.team-name{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}


.team-member{
  margin-bottom: 10px;
  margin-left: 10px;
}
.aside-members, .aside-projects{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 5px 15px;
  color: white;
  font-weight: bolder;
  font-size: 15px;

}

.aside-index{
  display: flex;
  flex-direction: column;
  width: 244px;
  transition: margin-left 250ms ease-out,transform 200ms ease-out;
  height: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: rgb(230, 122, 122);
  /* background-color: #151b26; */
  /* padding-top: 60px; */
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  margin-left: 50px;
  color: #9CA6AE;
  background-color: #151b26;
  height: 16px;

}

.closebtn:hover{
  background-color: #151b26;
  color: white;
}

.link-project-aside {
  color: #d5dce0;
  font-weight: 400;
  text-decoration: none;
}

.aside-project:active {
  background-color: #3B3F49;
}

.aside-project:hover{
  background-color: #363B49;
}

.li-square {
  height: 10px;
  width: 10px;
  background-color: aliceblue;
  margin-right: 10px;
  border-radius: 3px;
}
