
.aside-project-index {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 60px;
}


.aside-projects-list {
  align-items: center;
}


.aside-project {
  align-items: center;
  display: flex;
  justify-content: right;
  padding: 0 10px 0 10px;
  height: 28px;
}

.main-ui {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.li-square{
  height: 12px;
  margin-right: 10px;
}

.aside-projects-members{
  border-bottom: 1px solid #273240;
  border-top:1px solid #273240;
  padding-bottom: 10px;
  padding-top: 10px;
}

.team-header{
  color: #d5dce0;
  font-weight: 400;
  display: flex;
  height: 28px;
  padding: 0 15px 0 15px;
}

.team-name{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.team-member{
  margin-left: 10px;
}

.team-member, .aside-project{
  color: #9ca6af;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 17px;
  display: block;
}

.aside-members, .aside-projects{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 5px 15px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  border-top: 1px solid #273240;
  padding-bottom: 10px;
  padding-top: 10px;
}

.aside-projects-header, .aside-members-header {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  color: #cbd4db;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400
}

.aside-index{
  display: flex;
  flex-direction: column;
  width: 244px;
  transition: margin-left 250ms ease-out,transform 200ms ease-out;
  height: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color:  #151b26;
  padding-top: 10px;
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  margin-left: 50px;
  color: #9CA6AE;
  background-color: #151b26;
  height: 16px;
  width: 25px;

}

.closebtn:hover{
  color: white;
}

.link-project-aside {
  color: #d5dce0;
  font-weight: 400;
  text-decoration: none;
}

.li-square {
  height: 10px;
  width: 10px;
  background-color: rgb(103, 182, 235);
  margin-right: 10px;
  border-radius: 3px;
}
